[Unit]
Description=Sec-Spot Monitoring Agent
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/sec-spot/agent.py
WorkingDirectory=/usr/sec-spot
Restart=always
User=root
Group=root
StandardOutput=append:/var/log/sec-spot.log
StandardError=append:/var/log/sec-spot.log

[Install]
WantedBy=multi-user.target
